
@model List<Campeonato>  /*la lista de Clubes*/


<div class="text-center" id="tabla" >
    
    <div>
        <h1 class="display-4">Lista de Campeonatos</h1>
    
   
     
    @using(Html.BeginForm()){
        <p>
            Buscar por año: @Html.TextBox("campobusqueda")
            <input type="submit" value="Buscar" class="btn btn-dark"/>
        </p>
    } 
        <a href='@Url.Action("IrHome","Campeonatos")'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="50" height="50" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g transform="matrix(-1.8369701987210297e-16,-1,1,-1.8369701987210297e-16,-2.842170943040401e-14,512)">
            <g xmlns="http://www.w3.org/2000/svg">
                <path style="" d="M236.662,337.591l-50.299,40.406c-1.229,0.988-1.944,2.479-1.944,4.054v124.736   c0,4.246,4.814,6.703,8.252,4.212l43.99-31.873V337.591H236.662z" fill="#ff4f19" data-original="#ff4f19"/>
                <path style="" d="M275.338,337.591l50.299,40.406c1.229,0.988,1.944,2.479,1.944,4.054v124.736   c0,4.246-4.814,6.703-8.252,4.212l-43.99-31.873L275.338,337.591L275.338,337.591z" fill="#ff4f19" data-original="#ff4f19"/>
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
                <path style="" d="M327.576,382.056v124.73c0,4.254-4.806,6.709-8.249,4.213l-13.273-9.622   c0.791-0.936,1.279-2.153,1.279-3.547V364.964c0-0.676-0.125-1.341-0.375-1.966l18.682,15   C326.868,378.987,327.576,380.474,327.576,382.056z" fill="#e23d17" data-original="#e23d17"/>
                <path style="" d="M184.419,382.056v124.73c0,4.254,4.806,6.709,8.249,4.213l13.273-9.622   c-0.791-0.936-1.279-2.153-1.279-3.547V364.964c0-0.676,0.125-1.341,0.375-1.966l-18.682,15   C185.127,378.987,184.419,380.474,184.419,382.056z" fill="#e23d17" data-original="#e23d17"/>
            </g>
            <path xmlns="http://www.w3.org/2000/svg" style="" d="M251.526,2.176L215.78,50.797c-2.59,3.523-0.074,8.495,4.298,8.495h35.746h35.746  c4.373,0,6.889-4.972,4.298-8.495L260.123,2.176C257.99-0.725,253.658-0.725,251.526,2.176z" fill="#b7c1ca" data-original="#b7c1ca"/>
            <path xmlns="http://www.w3.org/2000/svg" style="" d="M291.573,59.292h-16.64L242.237,14.82l9.289-12.642c2.131-2.901,6.465-2.902,8.598-0.001  l35.749,48.62C298.462,54.319,295.946,59.292,291.573,59.292z" fill="#a3aeb7" data-original="#a3aeb7"/>
            <rect xmlns="http://www.w3.org/2000/svg" x="236.663" y="59.292" style="" width="38.677" height="418.918" fill="#ffdba9" data-original="#ffdba9"/>
            <rect xmlns="http://www.w3.org/2000/svg" x="255.995" y="59.292" style="" width="19.338" height="418.918" fill="#ffc473" data-original="#ffc473"/>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            </g></svg>
        </a>
        <a href='@Url.Action("Crear","Campeonatos")'>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"	 width="50px" height="50px" viewBox="0 0 603.963 603.963" style="enable-background:new 0 0 603.963 603.963;"	 xml:space="preserve"><g><g><g><path d="M426.699,105.195l-86.558-87.454c-5.434-5.49-11.805-9.783-18.935-12.758c-7.13-2.975-14.662-4.483-22.388-4.483H59.791				c-32.059,0-58.14,26.082-58.14,58.14v454.249c0,32.057,26.082,58.139,58.14,58.139H369.99				c10.585,8.75,22.331,15.877,35.059,21.262c17.532,7.416,36.131,11.174,55.28,11.174c19.148,0,37.747-3.76,55.28-11.174				c16.912-7.154,32.092-17.385,45.117-30.412c13.026-13.025,23.258-28.205,30.411-45.117c7.416-17.531,11.175-36.131,11.175-55.279				c0-19.15-3.76-37.748-11.175-55.281c-7.153-16.912-17.385-32.092-30.411-45.117c-13.025-13.025-28.205-23.258-45.117-30.41				c-17.532-7.416-36.132-11.176-55.28-11.176c-5.657,0-11.266,0.336-16.813,0.99V146.094				C443.515,130.677,437.543,116.153,426.699,105.195z M381.292,120.218h-52.735c-4.089,0-7.932-1.593-10.822-4.485				c-2.891-2.893-4.48-6.737-4.478-10.826l0.038-53.391L381.292,120.218z M59.791,528.188c-8.45,0-15.3-6.85-15.3-15.299V58.64				c0-8.45,6.85-15.3,15.3-15.3h210.67l-0.044,61.537c-0.011,15.538,6.031,30.147,17.014,41.138s25.588,17.043,41.125,17.043h72.118				v169.561c-15.161,7.018-28.854,16.572-40.744,28.463c-13.025,13.025-23.257,28.207-30.411,45.119				c-7.415,17.531-11.176,36.131-11.176,55.279s3.761,37.748,11.176,55.279c1.651,3.906,3.475,7.713,5.451,11.428H59.791z				 M460.329,560.625c-12.091,0-23.675-2.168-34.389-6.131c-15.074-5.574-28.425-14.707-39.027-26.383				c-15.985-17.604-25.729-40.98-25.729-66.631c0-32.359,15.507-61.096,39.491-79.191c12.351-9.318,26.95-15.811,42.84-18.525				c5.466-0.934,11.081-1.428,16.813-1.428c54.756,0,99.144,44.389,99.144,99.145S515.084,560.625,460.329,560.625z"/><path d="M460.329,603.963c-19.22,0-37.885-3.772-55.475-11.213c-12.683-5.366-24.471-12.505-35.044-21.223H59.791				c-32.334,0-58.64-26.306-58.64-58.639V58.64C1.151,26.306,27.457,0,59.791,0h239.028c7.793,0,15.39,1.521,22.58,4.521				c7.192,3.001,13.618,7.331,19.098,12.868l86.558,87.454c10.938,11.051,16.961,25.701,16.961,41.25v173.831				c5.41-0.616,10.896-0.929,16.313-0.929c19.217,0,37.882,3.773,55.475,11.216c16.971,7.177,32.203,17.443,45.276,30.517				c13.071,13.07,23.339,28.304,30.519,45.276c7.44,17.595,11.214,36.26,11.214,55.476c0,19.219-3.773,37.883-11.214,55.474				c-7.18,16.973-17.447,32.206-30.519,45.276c-13.068,13.07-28.301,23.338-45.276,30.52				C498.208,600.19,479.543,603.963,460.329,603.963z M59.791,1C28.008,1,2.151,26.857,2.151,58.64v454.249				c0,31.782,25.857,57.639,57.64,57.639h310.378l0.139,0.114c10.533,8.708,22.287,15.836,34.936,21.187				c17.466,7.389,35.999,11.135,55.085,11.135c19.08,0,37.613-3.746,55.086-11.135c16.855-7.13,31.981-17.326,44.958-30.305				c12.979-12.979,23.176-28.105,30.304-44.958c7.39-17.468,11.136-36.001,11.136-55.085c0-19.081-3.746-37.615-11.136-55.087				c-7.128-16.853-17.324-31.979-30.304-44.958c-12.981-12.981-28.107-23.177-44.958-30.303				c-17.47-7.39-36.003-11.137-55.086-11.137c-5.565,0-11.202,0.332-16.755,0.986l-0.559,0.066V146.094				c0-15.284-5.921-29.684-16.672-40.547l-86.558-87.454c-5.387-5.442-11.702-9.698-18.771-12.648				C313.947,2.495,306.479,1,298.819,1H59.791z M460.329,561.125c-11.88,0-23.508-2.073-34.562-6.162				c-14.917-5.517-28.48-14.686-39.224-26.516c-16.675-18.362-25.858-42.146-25.858-66.967c0-31.55,14.467-60.56,39.69-79.591				c12.624-9.524,27.513-15.963,43.057-18.619c5.574-0.952,11.26-1.435,16.897-1.435c54.943,0,99.644,44.7,99.644,99.645			S515.272,561.125,460.329,561.125z M460.329,362.836c-5.582,0-11.211,0.478-16.729,1.421	c-15.387,2.629-30.125,9.002-42.623,18.432c-24.971,18.84-39.292,47.559-39.292,78.792c0,24.572,9.091,48.116,25.599,66.295		c10.636,11.712,24.062,20.789,38.831,26.25c10.942,4.047,22.454,6.1,34.215,6.1c54.393,0,98.644-44.252,98.644-98.645	S514.721,362.836,460.329,362.836z M335.803,528.688H59.791c-8.712,0-15.8-7.087-15.8-15.799V58.64c0-8.712,7.088-15.8,15.8-15.8				h211.171l-0.044,62.037c-0.011,15.404,5.98,29.889,16.868,40.784c10.889,10.896,25.369,16.897,40.772,16.897h72.618v170.38	l-0.29,0.135c-15.118,6.997-28.778,16.54-40.601,28.362c-12.979,12.979-23.174,28.104-30.305,44.96	c-7.389,17.472-11.136,36.005-11.136,55.085s3.747,37.613,11.137,55.085c1.608,3.806,3.437,7.637,5.432,11.388L335.803,528.688z	 M59.791,43.84c-8.161,0-14.8,6.639-14.8,14.8v454.249c0,8.16,6.639,14.799,14.8,14.799h274.35	c-1.858-3.541-3.566-7.148-5.082-10.733c-7.441-17.595-11.215-36.259-11.215-55.474s3.773-37.879,11.215-55.474	c7.181-16.975,17.449-32.209,30.519-45.278c11.83-11.83,25.487-21.394,40.598-28.429V163.558h-71.618	c-15.671,0-30.402-6.105-41.479-17.19s-17.171-25.82-17.161-41.492l0.043-61.036H59.791z M382.491,120.718h-53.934	c-4.222,0-8.19-1.645-11.176-4.631c-2.985-2.987-4.627-6.958-4.624-11.18l0.039-54.605L382.491,120.718z M313.794,52.732	l-0.037,52.176c-0.003,3.955,1.535,7.673,4.331,10.472c2.797,2.798,6.515,4.338,10.469,4.338h51.537L313.794,52.732z"/></g><g><path d="M106.609,154.712h108.936c11.83,0,21.42-9.59,21.42-21.42c0-11.83-9.59-21.42-21.42-21.42H106.609	c-11.83,0-21.42,9.59-21.42,21.42C85.189,145.122,94.779,154.712,106.609,154.712z"/><path d="M215.545,155.212H106.609c-12.087,0-21.92-9.833-21.92-21.92s9.833-21.92,21.92-21.92h108.936	c12.087,0,21.92,9.833,21.92,21.92S227.632,155.212,215.545,155.212z M106.609,112.372c-11.535,0-20.92,9.385-20.92,20.92	c0,11.536,9.385,20.92,20.92,20.92h108.936c11.535,0,20.92-9.385,20.92-20.92c0-11.535-9.385-20.92-20.92-20.92H106.609z"/></g><g><path d="M106.609,306.879h231.37c11.83,0,21.42-9.591,21.42-21.421c0-11.83-9.59-21.42-21.42-21.42h-231.37	c-11.83,0-21.42,9.59-21.42,21.42C85.189,297.288,94.779,306.879,106.609,306.879z"/><path d="M337.979,307.379h-231.37c-12.087,0-21.92-9.833-21.92-21.921c0-12.087,9.833-21.92,21.92-21.92h231.37	c12.087,0,21.92,9.833,21.92,21.92C359.899,297.545,350.066,307.379,337.979,307.379z M106.609,264.538	c-11.535,0-20.92,9.385-20.92,20.92c0,11.536,9.385,20.921,20.92,20.921h231.37c11.535,0,20.92-9.385,20.92-20.921	c0-11.535-9.385-20.92-20.92-20.92H106.609z"/></g><g><path d="M271.775,416.816H106.609c-11.83,0-21.42,9.59-21.42,21.42s9.59,21.42,21.42,21.42h165.167	c11.83,0,21.42-9.59,21.42-21.42S283.605,416.816,271.775,416.816z"/><path d="M271.775,460.156H106.609c-12.087,0-21.92-9.833-21.92-21.92s9.833-21.92,21.92-21.92h165.167	c12.087,0,21.92,9.833,21.92,21.92S283.862,460.156,271.775,460.156z M106.609,417.316c-11.535,0-20.92,9.385-20.92,20.92	s9.385,20.92,20.92,20.92h165.167c11.536,0,20.92-9.385,20.92-20.92s-9.385-20.92-20.92-20.92H106.609z"/></g><g><path d="M508.676,440.061h-26.928v-26.928c0-11.83-9.59-21.42-21.42-21.42c-6.82,0-12.891,3.191-16.813,8.156	c-2.882,3.648-4.606,8.252-4.606,13.264v26.928h-26.928c-4.151,0-8.023,1.184-11.306,3.229	c-6.071,3.781-10.115,10.512-10.115,18.191s4.044,14.41,10.115,18.191c3.281,2.045,7.154,3.229,11.306,3.229h26.928v26.928	c0,4.57,1.435,8.801,3.873,12.277c3.874,5.527,10.286,9.143,17.547,9.143c11.83,0,21.42-9.59,21.42-21.42V482.9h26.928	c11.83,0,21.42-9.59,21.42-21.42S520.506,440.061,508.676,440.061z"/><path d="M460.329,531.748c-7.138,0-13.851-3.497-17.956-9.355c-2.593-3.697-3.964-8.042-3.964-12.564V483.4h-26.428	c-4.101,0-8.102-1.143-11.57-3.304c-6.481-4.037-10.351-10.996-10.351-18.616s3.869-14.579,10.351-18.616	c3.47-2.161,7.471-3.304,11.57-3.304h26.428v-26.428c0-4.976,1.63-9.669,4.714-13.573c4.191-5.305,10.463-8.347,17.206-8.347	c12.087,0,21.92,9.833,21.92,21.92v26.428h26.428c12.087,0,21.92,9.833,21.92,21.92s-9.833,21.92-21.92,21.92h-26.428v26.428	C482.249,521.915,472.416,531.748,460.329,531.748z M411.981,440.561c-3.912,0-7.73,1.09-11.041,3.153	c-6.187,3.853-9.88,10.494-9.88,17.767s3.693,13.914,9.88,17.767c3.31,2.063,7.127,3.153,11.041,3.153h27.428v27.428	c0,4.316,1.308,8.462,3.782,11.99c3.919,5.592,10.326,8.93,17.138,8.93c11.535,0,20.92-9.385,20.92-20.92V482.4h27.428	c11.535,0,20.92-9.385,20.92-20.92s-9.385-20.92-20.92-20.92h-27.428v-27.428c0-11.535-9.385-20.92-20.92-20.92	c-6.436,0-12.421,2.903-16.421,7.966c-2.943,3.727-4.499,8.206-4.499,12.954v27.428H411.981z"/></g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
        </a>
        
        
        <table class="table">
            <tr>
                <th>Nombre</th>
            </tr>

            @foreach (var campeonato in Model)
            {
                <tr>
                    <td>@campeonato.Anio</td>
                    <td>
                        <a href='@Url.Action("CampeonatoGanadores","Campeonatos",new {campeonatoId = campeonato.Id})'>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" style="height: 50px; width: 50px; "><g><g><path d="m69,117.2c49.9-13.6 89.5-13.6 139.4,0l5.2-20.9c-54.1-14.6-97.8-14.6-150.9,0l6.3,20.9z"/><path d="m63.8,171.5l5.2,19.8c49.9-13.6 89.5-13.6 139.4,0l6.2-19.8c-54-14.6-97.7-14.6-150.8,0z"/><path d="m63.8,245.5l5.2,19.8c49.9-13.6 89.5-13.6 139.4,0l6.2-19.8c-54-14.6-97.7-14.6-150.8,0z"/><path d="m62.8,319.5l6.2,19.8c49.9-13.6 89.5-13.6 139.4,0l5.2-19.8c-54-14.6-97.7-14.6-150.8,0z"/><path d="m296.9,96.4l6.2,20.9c49.9-13.6 89.5-13.6 139.4,0l5.2-20.9c-54.1-14.6-97.8-14.6-150.8,0z"/><path d="m296.9,170.4l5.2,20.9c51-13.6 89.5-13.6 140.4,0l5.2-20.9c-54.1-14.6-97.8-14.6-150.8,0z"/><path d="m296.9,244.4l6.2,20.9c49.9-13.6 89.5-13.6 139.4,0l5.2-20.9c-54.1-14.6-97.8-14.6-150.8,0z"/><path d="m493.5,38c-48.9-17.7-85.3-25-120.7-25-34.5,0-70,6.9-117,23.7-47.1-16.8-82.6-23.7-117-23.7-35.4,0-71.8,7.3-120.7,25-4.2,1-7.3,5.2-7.3,9.4v371.1c0,9.9 10.4,10.4 13.5,9.4 45.8-16.7 80.1-24 113.4-24s66.6,7.3 113.4,24c3.2,0.8 5.6,0.5 7.4-0.2 11.5-4.1 31.7-10.7 45-14.8 3.1,5 6.8,9.7 11.1,14 27.9,27.9 71.5,30.3 102.1,7.2l64.8,64.9 14.7-14.7-64.7-64.9c2-2.6 3.8-5.2 5.4-8 15.7,4.7 36.4,11.6 50.4,16.5 3.1,1 13.5,1 13.5-9.4v-371.1c0-4.2-3.1-8.4-7.3-9.4zm-248.6,365.9c-42.7-14.6-74.9-20.9-107.2-20.9s-65.5,6.3-107.2,20.9v-349.2c42.7-15.7 75-21.9 107.2-21.9s64.5,6.3 107.2,21.9v349.2zm84.4,8.3c-22.3-22.4-22.3-58.7 0-81.1 22.3-22.4 58.6-22.4 80.9,0 22.3,22.4 22.3,58.7 0,81.1-22.4,22.4-58.6,22.4-80.9-5.68434e-14zm150.7-8.3c-8.7-2.9-24.1-7.6-35.2-11 7.4-26.4 0.8-55.9-19.9-76.6-30.5-30.5-79.9-30.5-110.3,0-21.1,21.1-27.6,51.3-19.5,78-8.7,2.8-21.6,6.9-30.4,9.7v-349c44-17.1 78.2-22.3 109.2-22.3 31.2,0 63.5,6.3 106.1,21.9v349.3z"/></g></g></svg>
                        </a>
                    </td>
                </tr>
            }


        </table>
    </div> 
</div>
