@model CrearTorneoDto


<div class="" id="tabla">
    <h1 class="display-4">Crear un Torneo</h1>
    <a href='@Url.Action("ListaTorneo","Torneos")'><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="50px" y="50px" viewBox="0 0 384.861 384.861" style="enable-background:new 0 0 50.56 50.50;  height: 50px; width: 50px; " xml:space="preserve"><g>	<path id="Vintage_Arrow_Left_2_" d="M3.441,200.927l82.997,84.2c4.704,4.74,12.319,4.74,17.011,0	c4.704-4.752,4.704-12.439,0-17.191l-62.57-63.472h135.557l79.701,80.856c2.033,2.045,5.534,3.573,8.517,3.573h108.273	c10.502,0,15.916-13.257,8.505-20.74l-74.54-75.61l74.54-75.61c7.23-7.302,2.298-20.524-9.612-20.524H265.761	c-3.513,0-6.978,0.674-9.624,3.344l-79.508,80.651H40.674l62.786-63.688c4.704-4.74,4.704-12.439,0-17.191	c-4.704-4.74-12.319-4.74-17.011,0l-83.009,84.2C1.167,186.033,0,189.209,0,192.421C0,195.273,1.408,198.882,3.441,200.927z	 M269.683,120.48h74.311l-59.081,59.935h-74.311L269.683,120.48z M284.709,204.476l59.514,60.368H269.9l-59.514-60.368H284.709z"/><g></g><g></g><g></g><g></g><g></g><g></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
    </a>


@using (@Html.BeginForm())
{

    <div class="form-group" style="margin-left: 10px;">
        @Html.LabelFor(m=> m.Nombre)
        @Html.TextBoxFor(m=> m.Nombre, new {@class="form-control",@required="true"})
    </div>
    
    <div style="margin-left: 10px;">
        @Html.LabelFor(m=> m.Fecha) 

         @Html.TextBoxFor(model => model.Fecha, new { @id="start", 
                                                      @type="date", 
                                                        @class = "form-control datepicker",
                                                         @required="true"
                                                     }
                                                
         )

    </div>

    <div class="dropdown" style="margin-left: 10px;" >
        @Html.LabelFor(c => c.CampeonatoId, "Seleccione un campeonato")
        @Html.DropDownListFor(c => c.CampeonatoId, new SelectList(Model.Campeonatos, "Value", "Text", Model.Campeonatos), new {@required="true", @class="form-control"})
    </div>
    <div class="form-group" style="margin-left: 10px;">
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(false,"Solucionar los siguientes errores:",
                    new{@class="text-danger"})
            }
    </div>
    <input type="submit" value="Crear Torneo" class="btn btn-success" style="margin-left: 10px;"/>
    
}
 

</div>