

<body id="fondoHome">

<div class="text-center" >
    <div>
        <h1 class="display-4" style="color: yellow"></h1>
        
    
        <button type="button" class="btn btn-dark">@Html.ActionLink("Torneos","IrATorneos")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Campeonato","IrACapmpeonatos")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Lista de arqueros", "IrAArqueros")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Lista de Clubes", "IrAClubes")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Categorias", "IrACategorias")</button>
        <button type="button" class="btn btn-dark">@Html.ActionLink("Dianas", "IrADianas")</button>
          
        
       
    </div> 
</div>
    
</body>
